<!DOCTYPE html>
<html lang="en">
	  <head>
		      <meta charset="UTF-8"">
				         <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css">
						        <link rel="stylesheet" type="text/css" href="../static/styles/3-footer.cstyles/6-filters.css">
								       <link type="text/css" rel="stylesheet" href="../static/styles/8-places.css">
										       <link relBnB</title>
										       	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
												     	<script src="static/scripts/2-hbnb.js"></script>
														       </head>
														         <body>
															     <header>
															           <div class="logo"></div>
																	           </header>
																		       <div class="container">
																				    >
																				    	<div class="locations">
																						    	  <h3>States</h3>
																							  	  <h4>&nbsp;</h4>
																								  	  <div class="popover">
																										      	    <ul>
																											    	      {% for state in states %}
																												      	      <li>
																													      		<h2>{{h2>
																																	<ul>
																																			  {% for city in state[1] %}
																																			  		  <li>{{ city.name }}</li>
																																					  		  {% endfor %}
																																							  		</i>
																																										      {% endfor %}
																																										      	    </ul>
																																											    	  </d>
																																												  	  <h3>Amenities<  <div class="popover">
																																																      	    <ul>
																																																	    	      {in amenities %} <li><input teckbox" data-id="{{ amenity.id }}"ame="{{ amenity.name }}" >menity.name }}% endfor %}
																																																			      ul>
																																																			      	  </div>
																																																				  	</divtton type="button">Search</button>
																																																					      <n>
																																																					            <div class="placesh1>Places</h1></div> class="places"s</h1> -->
																																																									{% for place in places article>
																																																										  <div class="title_box"> place.name }}</h2>
																																																											      	    <div class="price_by_night">${{ place.price_by_night }}</div>
																																																															  </div>
																																																															  	  <div class="information">
																																																																	      	    <div class="max_guest">{{ place.max_guest }} Guest{% imax_guest != 1 %}s{% endif %}</div>
																																																																				            <div class="number_rooms">{{ place.number_rooms }} Bedroom{% if place.number_rooms != 1 %}s{% endif %}</div>
																																																																							            <div class="number_bathrooms">{{ place.number_bathrooms }} Bathroom{% if place.number_bathrooms != 1 %}s{% endif %}</div>
																																																																											  </div>
																																																																											  	  <div class="user">
																																																																													                  <b>Owner:</b> {{ place.user.first_name }} {{ place.user.last_name }}
																																																																															            </div>
																																																																																              <div class="description">
																																																																																			  	    {{ place.description | safe }}
																																																																																				              </div>
																																																																																					      	</article>
																																																																																							for %}
																																																																																							      </section>
																																																																																							          </div>
																																																																																								      <footer>
																																																																																								            <chool</p>
																																																																																									        </footer>
																																																																																										  <
