<!DOCTYPE html>
<htmlmeta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css">
        <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css">
	    <link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css">
	        <link rel="stylesheet" type="text/css" href="../static/styles/6-filters.css">
		    <link type="text/css" rel="stylesheet" href="../static/styles/8-places.css">
		        <link rel="icon" href="../static/images/icon.png" />
			    <title>Htitle>
				    	<script src="https://code.jquery.com3.2.1.min.js"></script>
						<sic/scripts/3-hbnb.js"></script>
								         </head>
									   <body>
									       <go"></div>
								       	  <div id="api_status" class="available">

										  	  </div>
											      </header>
											          <div class="container">
													        <section class="fi class="/h3>
																&nbsp;</h4>
																  <div class="	      {% for state in states %}
																	      	      <li>
																		      		<h2>{{ state[0].name }}:</h2>
																						<ul>
																								  {% for city in state[		  <li>{{ city.name }}</li>
																								  		  {% endfor %}
																										  		</ul>
																													     {% endfor %}
																													     	    </ul>
																														    	  </div>
																															  	</div>
																																	<div class="amenities">
																																		    	  <h3>Ame/h3>
																																			  	  <h4>&nbsp;</h4>
																																				  	  <div class="p>
																																						  	    <ul>
																																								    	      {% for amenity in amenities %}
																																									      	      <li><pe="checkbox" data-id="{{ amenity.id }}" data-name="{{ amenity.name }}" > {{ amenity.name }}</li>
																																										      	      {% endfo/div>
																																											      	</div>
																																													<button type="button">Search</button>
																																													      </section>
																																													           lass="placesh1"><h1>      <section class=">
																																															 	<!-- <h1>Places</h1> -->
																																																	
																																																	      </section>
																																																	          </div>
																																																		      <footer>
																																																		            <p>Holber/footer>
																																																			      </b
